<header class="root">
  <div class="header-container">
    <div class="wrapper">
      <div class="logo"><a routerLink="/signature">DigSig</a></div>

      <ng-container *ngIf="login | async; else title">
        <ng-container *ngTemplateOutlet="profile"></ng-container>
      </ng-container>
    </div>
  </div>
</header>

<ng-template #title>
  <div>
    <a (click)="redirect()">{{ headerTitle }}</a>
  </div>
</ng-template>

<ng-template #profile>
  <div class="wrapper-menu">
    <mat-form-field class="example-form-field" appearance="standard">
      <input matInput placeholder="Search" />
      <button
        *ngIf="value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="value = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-icon class="mr10" routerLink="/signature">home</mat-icon>

    <mat-icon class="mr10" matBadge="1" matBadgeColor="warn"
      >notifications</mat-icon
    >

    <mat-icon
      [matMenuTriggerFor]="menu"
      (menuOpened)="checkStatusMenu(true)"
      (menuClosed)="checkStatusMenu(false)"
      >{{ iconProfile }}</mat-icon
    >
    <mat-menu #menu="matMenu">
      <ng-container *ngFor="let menu of menuList">
        <button mat-menu-item (click)="selectMenu(menu.label)">
          <mat-icon>{{ menu.icon }}</mat-icon>
          <span>{{ menu.label }}</span>
        </button>
      </ng-container>
    </mat-menu>
  </div>
</ng-template>
