.wrapper{
  display: flex;
  flex-direction: column;
}

.button-block{
  display: flex;
  align-self: flex-end;
  margin: 10px 0px 0px 10px;
}

.text-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.example-full-width{
  margin-right: 10px;
  width: 300px;
}

.resend-code{
  cursor: pointer;
  text-align: center;

}
.resend-code:hover{
  text-decoration: underline;
}
