<div class="root">
  <div class="wrapper">
    <button
      mat-raised-button
      class="button-back"
      *ngIf="formStep === 'email'"
      (click)="backStep()"
    >
      back
    </button>

    <ng-container *ngTemplateOutlet="keys"></ng-container>

    <ng-container [ngSwitch]="formStep">
      <ng-container *ngSwitchCase="'select'">
        <ng-container [ngTemplateOutlet]="config"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'email'">
        <ng-container [ngTemplateOutlet]="email"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'text'">
        <ng-container [ngTemplateOutlet]="text"></ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #keys>
  <div class="container">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Private Key</mat-label>
      <input matInput readonly [value]="privateKey" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Public key</mat-label>
      <input matInput readonly [value]="publicKey" />
    </mat-form-field>
  </div>
</ng-template>

<ng-template #config>
  <div class="container">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>algorithm</mat-label>
      <mat-select>
        <mat-option *ngFor="let algorithm of algorithms" [value]="algorithm">{{
          algorithm
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="generateKey()">
      Generate keys
    </button>
  </div>
</ng-template>

<ng-template #email>
  <div class="container">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Verification Code</mat-label>
      <input matInput type="text" />
      <button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="generateKeyFinish()">
      Go
    </button>
    <span class="resend-code" (click)="resendSendCode()"> resend code </span>
  </div>
</ng-template>

<ng-template #text>
  <div class="container">
    <span> Remeber Private Key </span>

    <button mat-raised-button color="primary">Ok</button>
  </div>
</ng-template>
