.color-text{
    color: black;
    overflow: hidden;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.width-input{
    width: 300px;
    margin-right: 10px;
}

.button-dialog{
    margin-left: 10px;
}