<ng-container [ngSwitch]="formTemplate">
  <ng-container *ngSwitchCase="'dropzone'">
    <ng-container [ngTemplateOutlet]="dropzone"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'verification'">
    <ng-container [ngTemplateOutlet]="codeEmail"></ng-container>
  </ng-container>
</ng-container>

<ng-template #dropzone>
  <div class="inputs flex">
    <mat-form-field class="width-input" appearance="fill">
      <mat-label>Secret key</mat-label>
      <input matInput (change)="inputSecretKey($event)"/>
    </mat-form-field>
    <button
      mat-raised-button
      class="button-dialog"
      color="primary"
      (click)="singDocument()"
    >
      Sign
    </button>

    <mat-form-field class="width-input" appearance="fill">
      <mat-label>Secret key</mat-label>
      <input matInput [value]="secretKey"/>
    </mat-form-field>
    <mat-form-field class="width-input" appearance="fill">
      <mat-label>Public key</mat-label>
      <input matInput [value]="publicKey"/>
    </mat-form-field>
    <button
    mat-raised-button
    class="button-dialog"
    color="primary"
    (click)="generateKey()"
  >
    generate
  </button>
  </div>

  <ngx-dropzone (change)="onSelect($event)">
    <ngx-dropzone-label class="color-text">Drop it file</ngx-dropzone-label>
    <ngx-dropzone-preview
      *ngFor="let f of files"
      [removable]="true"
      (removed)="onRemove(f)"
    >
      <ngx-dropzone-label class="color-text"
        >{{ f.name }} ({{ f.type }})</ngx-dropzone-label
      >
    </ngx-dropzone-preview>
  </ngx-dropzone>
</ng-template>

<ng-template #codeEmail>
  <div class="inputs flex">
    <mat-form-field class="width-input" appearance="fill">
      <mat-label>Verification email</mat-label>
      <input matInput type="text" />
    </mat-form-field>
    <div class="button-dialog">
      <button mat-raised-button (click)="resendSendCode()">resend code</button>

      <button mat-raised-button color="primary" (click)="singDocument()">
        GO
      </button>
    </div>
  </div>
</ng-template>
