<ng-container [ngSwitch]="formTemplate">
  <ng-container *ngSwitchCase="'dropzone'">
    <ng-container [ngTemplateOutlet]="dropzone"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'verification'">
    <ng-container [ngTemplateOutlet]="codeEmail"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'displayHash'">
    <ng-container [ngTemplateOutlet]="displayHash"></ng-container>
  </ng-container>
</ng-container>

<ng-template #dropzone>
  <div class="inputs flex">
    <mat-form-field class="width-input" appearance="fill">
      <mat-label>Secret key</mat-label>
      <input matInput type="password" [(ngModel)]="secretKey" />
    </mat-form-field>
    <button
      mat-raised-button
      class="button-dialog"
      color="primary"
      [disabled]="!secretKey || !files.length"
      (click)="singDocument()"
    >
      Sign
    </button>
  </div>

  <ngx-dropzone (change)="onSelect($event)">
    <ngx-dropzone-label class="color-text">Drop it file</ngx-dropzone-label>
    <ngx-dropzone-preview
      *ngFor="let f of files"
      [removable]="true"
      (removed)="onRemove(f)"
    >
      <ngx-dropzone-label class="color-text"
        >{{ f.name }} ({{ f.type }})</ngx-dropzone-label
      >
    </ngx-dropzone-preview>
  </ngx-dropzone>
</ng-template>

<ng-template #codeEmail>
  <div class="inputs flex">
    <mat-form-field class="width-input" appearance="fill">
      <mat-label>Verification email</mat-label>
      <input matInput type="text" [(ngModel)]="verivicationCode" />
    </mat-form-field>
    <div class="button-dialog">
      <button mat-raised-button color="primary" [disabled]="!verivicationCode" (click)="singFinishDocument()">
        Go
      </button>
      <span class="resend-code" (click)="resendSendCode()"> resend code </span>
    </div>
  </div>
</ng-template>

<ng-template #displayHash>
  <div class="inputs flex">
    <mat-form-field class="width-input" appearance="fill">
      <mat-label>HASH</mat-label>
      <input matInput type="text" readonly [value]="signHash" />
    </mat-form-field>
  </div>
</ng-template>
