
.wrapper-root{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 55px);

}

.progress-bar{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disable{
  opacity: 0.5;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: auto;
}

.container-form{
    display: flex;
    margin: 50px;
    justify-content: center;
    flex-direction: column;
    width: 20%;
}

.arrow-form{
    button{
        background: #2C3441;
    }
}


.show-toastr{
  position: absolute;
  left: 0;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  font-size: 24px;
  .error-messages{
    color: red;
  }
}
