<div class="root">
  <div class="wrapper-root" *ngIf="templateNumber !== 3; else loading">
    <div class="progress-bar">
      <mat-progress-bar mode="determinate" [value]="value"></mat-progress-bar>
    </div>

    <div class="container">
      <div class="arrow-form">
        <button mat-fab color="basic" (click)="handleArrow('back')">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
      </div>

      <ng-container [ngSwitch]="templateNumber">
        <ng-container *ngSwitchCase="'0'">
          <ng-container *ngIf ="formlogin; then formTwo;else form "></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'1'">
          <ng-container [ngTemplateOutlet]="codeEmail"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'2'">
          <ng-container [ngTemplateOutlet]="codePhone"></ng-container>
        </ng-container>
      </ng-container>

      <div class="arrow-form">
        <button mat-fab color="basic" (click)="handleArrow('forward')">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #formTwo>
  <div class="container-form">
    <mat-form-field class="example-form-field" appearance="fill"  *ngFor="let data of dataLogin">
      <mat-label>{{ data.label }}</mat-label>
      <input matInput [type]="data.type" [(ngModel)]='data.input'/>
      <button matSuffix mat-icon-button aria-label="data.aria_label">
        <mat-icon>{{ data.icon }}</mat-icon>
      </button>
    </mat-form-field>
  </div>

</ng-template>

<ng-template #codeEmail>
  <div class="container-form">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Verification Code</mat-label>
      <input matInput type="text" />
      <button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="resendSendCode()">resend code</button>
  </div>
</ng-template>

<ng-template #codePhone>
  <div class="container-form">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Verification phone</mat-label>
      <input matInput type="text" />
      <button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</ng-template>

<ng-template #form>
  <div class="container-form">
    <mat-form-field class="example-form-field" appearance="fill"  *ngFor="let data of dataButtons">
      <mat-label>{{ data.label }}</mat-label>
      <input matInput [type]="data.type" [(ngModel)]='data.input'/>
      <button matSuffix mat-icon-button aria-label="data.aria_label">
        <mat-icon>{{ data.icon }}</mat-icon>
      </button>
    </mat-form-field>
  </div>
</ng-template>

<ng-template #loading>
  <div class="wrapper-root">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
