<div class="root">
  <div class="wrapper-root">
    <div class="container">
      <ng-container *ngTemplateOutlet="profile"></ng-container>
      <ng-container *ngTemplateOutlet="settings"></ng-container>
    </div>
  </div>
</div>

<ng-template #profile>
  <div class="block-profile">
    <div class="profile-avatar">
      <div class="image">I</div>
    </div>
    <div class="block-profile-name">
      <span class="profile-name profile-first-name">Ivan </span>
      <span class="profile-name profile-first-name">Ivanov</span>
    </div>

    <div class="border"></div>

    <div class="block-profile-name">
      <span class="profile-name profile-first-name">Info:</span>
    </div>
    <div class="block-profile-name info">
      <span class="profile-name profile-first-name">Birthday: 26/05/97</span>
    </div>
    <div class="block-profile-name info">
      <span class="profile-name profile-first-name">Status EDS: received</span>
    </div>
    <div class="block-profile-name info">
      <span class="profile-name profile-first-name">Term EDS: Infifnity</span>
    </div>
  </div>
</ng-template>

<ng-template #settings>
  <div class="block-settings">
    <div class="settings-title">
      <span> Profile settings/info</span>

      <button mat-raised-button color="primary" (click)="generateKey()">Generate keys</button>
    </div>
    <ng-container *ngTemplateOutlet="inputs"></ng-container>
  </div>
</ng-template>

<ng-template #inputs>
  <ng-container *ngFor="let setting of settingsList">
    <div class="inputs">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{ setting.title }}</mat-label>
        <input matInput readonly [value]="setting.info" />
      </mat-form-field>
    </div>
  </ng-container>
  <button mat-raised-button>Delete keys</button>
</ng-template>
